:root {
  --bg-color: #193549;
  --color: #ffc600;
  --spacing: 20px;
  --blur: 0px;
}

html {
  height: 100vh;
  background-color: var(--bg-color);
}

body {
  height: 100%;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 2.3em;
}

.header {
  color: #ffffff;
  text-align: center;
  margin: 60px 0 60px 0;
}

.settings {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 50px;
}

#color-picker {
  width: 10em;
}

#var-header {
  color: var(--color);
}

.photo {
  height: 30%;
}

.photo img {
  display: block;
  margin: 30px auto;
  border-style: solid;
  border-color: var(--color);
  border-width: var(--spacing);
  filter: blur(var(--blur));
}
